.login-page-container {
  padding: 20px;
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.username-container {
  padding-bottom: 10px;
}

#username-text {
  padding-right: 20px;
}

.articles-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-page-container h3 {
  margin-top: 1em;
}

.query-controls {
  margin-top: 2em;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  max-width: 850px;
}

/* .query-controls p { */
  /* margin-right: 20px; */
/* } */


.article-card {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-card-header {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd; 
}

.topic-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.topic-name {
  font-weight: bold;
  color: #0079d3;
}

.dot {
  margin: 0 5px;
}

.author, .timestamp {
  color: #6c757d;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.card-text {
  font-size: 14px;
  color: #333;
}

.articles-section {
  max-height: 800px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}